@model Hunt
<h2>Add a New Hunt</h2>
@using (Html.BeginForm("InsertHuntToDatabase", "Hunt", "Post"))
{
    <input asp-for="HuntID" type="hidden" value="" />
    <label asp-for="Date" class="control-label">Date</label>
    <input type="text" name="Date" class="form-control" />
    <label asp-for="TimeOfStart" class="control-label">Time of Start</label>
    <input type="text" name="TimeOfStart" class="form-control" />
    <label asp-for="TimeOfEnd" class="control-label">Time of End</label>
    <input type="text" name="TimeOfEnd" class="form-control" />
    <label asp-for="Season" class="control-label">Season</label>
    <input type="text" name="Season" class="form-control" />
    <label asp-for="Weather" class="control-label">Weather</label>
    <input type="text" name="Weather" class="form-control" />
    <label asp-for="UsedScentControl" class="control-label">Used Scent Control</label>
    <input type="text" name="UsedScentControl" class="form-control" />
    <label asp-for="NumberOfDoes" class="control-label">Number of Does</label>
    <input type="text" name="NumberOfDoes" class="form-control" />
    <label asp-for="NumberOfBucks" class="control-label">Number of Bucks</label>
    <input type="text" name="NumberOfBucks" class="form-control" />
    <label asp-for="Harvested" class="control-label">Harvested</label>
    <input type="text" name="Harvested" class="form-control" />
    <label asp-for="TreeStandLocation" class="control-label">Tree Stand Location</label>
    <input type="text" name="TreeStandLocation" class="form-control" />



    <input type="submit" value="Create Hunt" class="btn btn-primary" />
}
