@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome To HuntTracker</h1>
    <h1 class="display-5">Hunting In The Modern Age</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/6/66/The_Monarch_of_the_Glen%2C_Edwin_Landseer%2C_1851.png" width="699"
     height="689">
   
</div>
